.clearfix{
    clear:both;
}
.search-box input, .search-box > input{
    width:0px!important;
    cursor: pointer!important;
    padding: 0 0.18rem 0 2rem!important;
}
.search-box input:focus{
    width: 15rem!important;  
    cursor: text!important;
}

.dropdown-item.active, .dropdown-item:active{
    // background: #E1EDDD;
    // background:$accentColor;
}