.clearfix{
    clear:both;
}
.text-right{
    text-align:right!important;    
}
.text-center{
    text-align:center!important;    
}
.search-box input, .search-box > input{
    width:0px!important;
    cursor: pointer!important;
    padding: 0 0.18rem 0 2rem!important;
}
.search-box input:focus{
    width: 15rem!important;  
    cursor: text!important;
}

.dropdown-item.active, .dropdown-item:active{
    // background: #E1EDDD;
    // background:$accentColor;
}

.float-right{
    float: right;
}

.home h2, .home h3, .home label{
    color: #3a5169!important;    
}
.home p{
    color: #4e6e8e!important;
}

.badge.tip{
    background-color: #1A7B00!important;
}

.mc-field-group{
    margin-top:1rem;
    margin-bottom:1rem;
}
.indicates-required {
    text-align: right;
    font-size: 80%;
    font-style: italic;
    color:#4e6e8e;
}
.indicates-required > span.asterisk, .mc-field-group label > span.asterisk{
    color: red;    
}
.mc-field-group > label{
    width: 40%;
    float:left;
    text-align: right;
    padding-right:.5rem;
}
.mc-field-group > select {
    width: 49%;
}
.mc-field-group > input{
    width: 48%;
}
#mc-embedded-subscribe{
    // float: right;
}
.clear{
    text-align: center;
}
#mc-embedded-subscribe{
    margin: 2rem 0px;  
    padding:.8rem 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color:white;  
    font-size: 100%;
    background-color: #1A7B00!important;
    border: none;
    border-radius: .5rem;
}

a.header-anchor
    margin-left: -1em!important;
    padding-right: 0px!important;

h1 > a.header-anchor
    margin-left: -.9em!important;
    padding-right: 0px!important;