
// colors
$accentColor = #135C00
// $textColor = #135C00
// $borderColor = green
// $codeBgColor = green
// $arrowBgColor = green

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// 32C809