.clearfix{
    clear:both;
}

.search-box input{
    width:0px;
    cursor: pointer;
}
.search-box input:focus{
    width: 15rem;    
}

.dropdown-item.active, .dropdown-item:active{
    background:#E1EDDD;
}